#bookShelf {
  display: grid;
  grid-template-columns: repeat(3, 250px);

  gap: 10px;
  border: 1px solid black;
  min-width: 75%;
}

.book {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: rgb(241, 240, 240);
}
