#bookShelf {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 10px;
  border: 1px solid black;
}

.book {
  width: 225px;

  border: 1px solid black;
  background-color: rgb(241, 240, 240);
  display: flex;
  flex-direction: column;
}
