#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 10px;
  padding: 20px;
}
.book-container {
  background: rgb(246, 245, 250);
  border: 1px solid rgb(118, 116, 116);
  padding: 10px;

  display: flex;
  flex-direction: column;
}

#sidebar {
}

.isRead,
.isUnread {
  width: 25%;
  margin-left: auto;
}

.isRead {
  background: red;
}

.isUnread {
  background: green;
}
